html,body{
    background-image: url('https://i.pinimg.com/originals/d5/aa/91/d5aa910bc1523829eef43f9b0c003444.jpg');
    background-size: cover, contain;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
 }

 .news{
     text-align:left;
     background: transparent;
     border-style: ridge;
     border-radius: 25px;
 }
 .navbar{
    border-style: ridge;
    border-radius: 25px;
    border-width: thin;
    background-color: rgba(0,0,0, 0.4)
}

 .search{
     text-align: right; 
 }
 .button{
     margin-right: 1em;
 }

 .input{
     font-style: italic;
 }
 .image{
    background-image: url('https://wallpaperaccess.com/full/2314950.jpg');
}
.block-title {
    background-image: url('https://image.shutterstock.com/image-vector/blue-purple-dreamy-vibrant-gradient-260nw-1246525090.jpg');
    text-align: center;
    border-bottom: ridge;
    border-radius: 25px;
    
}
 .button{
     vertical-align: bottom;
 }

